{{template "header"}}

{{template "nav"}}

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <a class="glyphicon glyphicon glyphicon-log-in"
           style="color: rgb(37, 63, 169); font-size: 15px; text-shadow: rgb(0, 0, 0) 0px 1px 1px;" href="#">
            <span data-toggle="modal" data-target="#login-modal">登录使用所有功能</span>
        </a>
    </div>
</div>
