{{define "cusjs"}}
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("来了")

        });
        window.onload = function () {
            console.log("来了")

        }
        $('#loginClick').onclick(){
            alert("laile ")
        }

    </script>
{{end}}