<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
</head>
<body>
<h1>{{.text}}</h1>

{{/*<table class="table table-bordered">
    <tr>
        <th>电影名称</th>
        <th>简介</th>
        <th>豆瓣链接</th>
    </tr>
    {% for i in movies %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td><a href={{ i[2] }}>链接</a></td>
    </tr>
    {% endfor %}
</table>*/}}

</body>
</html>